@import "tailwindcss";

@theme {
	--font-inter: "Inter", "system-ui", sans-serif;

	--color-primaryBorder: #1c1d26;
	--color-primaryBackground: #121217;
	--color-secondaryBackground: #1c1d26;
	--color-thirdyBackground: #1d1d27;
	--color-fourthBackground: #252632;

	--color-primaryText: #dedede;
	--color-secondaryText: #787e87;

	--color-placeholderText: #383a43;

	--color-accentBlue: #3a35fb;
	--color-accentBlueHovered: #2e2ac9;
	--color-accentPurple: #615def;

	--breakpoint-xs: 520px;
	--breakpoint-sm: 768px;
	--breakpoint-md: 1168px;
	--breakpoint-lg: 1320px;
	--breakpoint-xl: 1520px;
}

@layer utilities {
	.flex-middle {
		@apply flex items-center justify-center;
	}
	.raise-up {
		@apply relative z-[1];
	}
}

*,
*::after,
*::before {
	transition: all 0.2s;
}

html,
body {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #3c3d4d;
	border-radius: 3px;
}

body {
	@apply font-inter font-normal text-sm text-primaryText antialiased bg-primaryBackground;
}

button,
input[type="button"],
a {
	@apply cursor-pointer;
}

input:focus,
textarea:focus {
	outline: none;
}

input::placeholder {
	@apply text-placeholderText;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.os-scrollbar {
	--os-handle-bg: #3a35fb !important;
	--os-handle-bg-hover: #2e2ac9 !important;
	--os-handle-bg-active: #2e2ac9 !important;
	--os-size: 6px !important;
	z-index: 100 !important;
}

.os-scrollbar-horizontal {
	--os-track-bg: #3a35fb !important;
	--os-track-bg-hover: #3a35fb !important;
	--os-track-bg-active: #3a35fb !important;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.scrollbar-cart {
	overflow-y: auto;
}

.scrollbar-cart::-webkit-scrollbar {
	width: 2px;
}

.scrollbar-cart::-webkit-scrollbar-thumb {
	background: #3c3d4d;
	border-radius: 10px;
}

.scrollbar-cart::-webkit-scrollbar-track {
	opacity: 0;
}

.container {
	max-width: 1266px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

#default-tooltip {
	opacity: 1;
	border-radius: 6px;
}
